# Copy this file to .env (or export env vars) before running.
ALLOW_CORE_SIGNAL_RENAME=REPLACE_ME
GITHUB_REF=REPLACE_ME
GITHUB_REF_NAME=REPLACE_ME
HUGO_VER=REPLACE_ME
QUARTER=REPLACE_ME
ROOT_DIR=REPLACE_ME
TARGET=REPLACE_ME
UPSTREAM_BRANCH=REPLACE_ME
UPSTREAM_REMOTE=REPLACE_ME
VENV_DIR=REPLACE_ME
VIOLATIONS=REPLACE_ME
YEAR=REPLACE_ME
